@media screen and (max-width: 605px) {
  .brief {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35vh !important;
  }
  .brief__projets {
    width: 65% !important;
    height: 15vh !important;
  }
  .brief__apropos {
    width: 65% !important;
    height: 15vh !important;
  }

  .box {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 400px) {
  .box {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .box__presentation {
    width: 100%;
    padding: 0px !important;
  }

  .brief {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh !important;
    align-items: center !important;
  }
  .brief__projets {
    width: 100%;
  }
  .brief__apropos {
    width: 100%;
  }

  .mes_contacts__texte {
    width: 40% !important;
  }
}
@media screen and (max-width: 400px) {
  .brief {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh !important;
    align-items: center !important;
  }
  .brief__projets {
    width: 80% !important;
  }
  .brief__apropos {
    width: 80% !important;
  }
}
@media screen and (max-width: 605px) {
  .brief {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35vh !important;
  }
  .brief__projets {
    width: 65% !important;
    height: 15vh !important;
  }
  .brief__apropos {
    width: 65% !important;
    height: 15vh !important;
  }

  .box {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 400px) {
  .box {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .box__presentation {
    width: 100%;
    padding: 0px !important;
  }

  .brief {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh !important;
    align-items: center !important;
  }
  .brief__projets {
    width: 100%;
  }
  .brief__apropos {
    width: 100%;
  }

  .mes_contacts__texte {
    width: 40% !important;
  }
}
@media screen and (max-width: 400px) {
  .brief {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh !important;
    align-items: center !important;
  }
  .brief__projets {
    width: 80% !important;
  }
  .brief__apropos {
    width: 80% !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #252839;
}

.logo:hover {
  color: #40e0d0;
  transition: all 0.5s linear;
}

header .en-tete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 3px #40e0d0;
  width: 100%;
}
header .menu {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  font-size: 3vh;
  font-family: Varela;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
header .menu__acceuil {
  border: solid 2px #252839;
  color: white;
  text-decoration: none;
}
header .menu__acceuil:hover {
  border-bottom: solid 2px #40e0d0;
  color: #40e0d0;
  transition: all 0.2s linear;
}
header .menu__projets {
  color: white;
  text-decoration: none;
  border: solid 2px #252839;
}
header .menu__projets:hover {
  border-bottom: solid 2px #40e0d0;
  color: #40e0d0;
  transition: all 0.2s linear;
}
header .menu__apropos {
  color: white;
  text-decoration: none;
  border: solid 2px #252839;
}
header .menu__apropos:hover {
  border-bottom: solid 2px #40e0d0;
  color: #40e0d0;
  transition: all 0.2s linear;
}
header .menu__contacts {
  color: white;
  text-decoration: none;
  border: solid 2px #252839;
}
header .menu__contacts:hover {
  border-bottom: solid 2px #40e0d0;
  color: #40e0d0;
  transition: all 0.2s linear;
}
header .logo {
  color: white;
  height: 8vh;
  font-size: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: Lato;
  margin-left: 50%;
  text-decoration: none;
}

.box {
  width: 80%;
  margin: 0 auto;
  margin-top: 5vh;
  border-radius: 20px;
  border: solid 4px #252839;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.5s linear;
  overflow: hidden;
}
.box__ma_photo {
  height: 170px;
  width: 170px;
  border: solid 5px white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box__ma_photo:hover {
  border: solid 5px #40e0d0;
  transition: all 0.5s linear;
}
.box__ma_photo #box__ma_photo__photo {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}
.box__presentation {
  color: white;
  word-spacing: 10px;
  font-size: 30px;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
}
.box:hover {
  border: solid 4px #40e0d0;
  transition: all 0.5s linear;
  border-radius: 20px;
}

.brief {
  display: flex;
  margin: 0 auto;
  color: white;
  justify-content: space-between;
  width: 80%;
  height: 25vh;
  align-items: center;
  margin-bottom: 3vh;
  overflow: hidden;
}
.brief__projets {
  font-size: 2rem;
  word-spacing: 10px;
  padding: 3px 5px;
  width: 30%;
  height: 15vh;
  margin: 0 auto;
  border-radius: 20px;
  border: solid 2px #252839;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  border: solid 1px #40e0d0;
}
.brief__projets:hover {
  border: solid 4px #40e0d0;
  transition: all 0.2s linear;
}
.brief__projets__texte {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brief__apropos {
  font-size: 2rem;
  word-spacing: 10px;
  padding: 3px 5px;
  width: 30%;
  margin: 0 auto;
  height: 15vh;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  border: solid 2px #252839;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  border: solid 1px #40e0d0;
}
.brief__apropos:hover {
  border: solid 4px #40e0d0;
  transition: all 0.2s linear;
}
.brief__apropos__texte {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_logos {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
}

.mes__projets {
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 4vh;
}

#mes__projets__apercu1 {
  border: solid 5px #252839;
  height: 45%;
  width: 40%;
}
#mes__projets__apercu1:hover {
  border-radius: 20px;
  border: solid 5px #40e0d0;
  transition: all 0.5s linear;
  border-radius: 20px;
}
#mes__projets__apercu1__site1 {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

#mes__projets__apercu2 {
  border: solid 5px #252839;
  height: 45%;
  width: 40%;
}
#mes__projets__apercu2:hover {
  border: solid 5px #40e0d0;
  transition: all 0.5s linear;
  border-radius: 20px;
}
#mes__projets__apercu2__site2 {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

#mes__projets__apercu3 {
  border: solid 5px #252839;
  height: 45%;
  width: 40%;
}
#mes__projets__apercu3:hover {
  border: solid 5px #40e0d0;
  transition: all 0.5s linear;
  border-radius: 20px;
}
#mes__projets__apercu3__site3 {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

#mes__projets__apercu4 {
  border: solid 5px #252839;
  height: 45%;
  width: 40%;
}
#mes__projets__apercu4:hover {
  border: solid 5px #40e0d0;
  transition: all 0.5s linear;
  border-radius: 20px;
}
#mes__projets__apercu4__site4 {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.mes__competences {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.mes__competences__mot {
  text-align: center;
  font-size: 30px;
  color: white;
  border: solid 2px #252839;
  width: 20%;
}
.mes__competences__mot:hover {
  border-bottom: solid 2px #40e0d0;
  border-top: solid 2px #40e0d0;
  transition: all 0.5s linear;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.icone_contacts {
  margin-top: 50px;
  color: white;
  text-align: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s linear;
}
.icone_contacts__logo {
  border: solid 5px white;
  padding: 50px;
  font-size: 50px;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  transition: all 1s linear;
  border: solid 5px #40e0d0;
  color: #40e0d0;
  border-radius: 100%;
}

.mes_contacts {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.mes_contacts__texte {
  text-align: center;
  font-size: 30px;
  color: white;
  border: solid 2px #252839;
  width: 15%;
}
.mes_contacts__texte:hover {
  border-bottom: solid 2px #40e0d0;
  border-top: solid 2px #40e0d0;
  transition: all 0.5s linear;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.mes_contacts__reseaux_sociaux {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
  padding: 30px;
  transition: all 1s linear;
  border-left: solid 5px #252839;
  border-right: solid 5px #252839;
}
.mes_contacts__reseaux_sociaux:hover {
  border-left: solid 5px #40e0d0;
  border-right: solid 5px #40e0d0;
  border-radius: 20px;
  border-top: none;
  border-bottom: none;
  transition: all 1s linear;
}

@media screen and (max-width: 450px) {
  .en-tete {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    margin-left: 0% !important;
  }

  .box_logos {
    margin-top: 50px !important;
    display: flex;
    justify-content: space-evenly;
    width: 0%;
  }
}
@media screen and (max-width: 1150px) {
  .mes__projets {
    width: 100%;
  }

  .box {
    width: 90% !important;
  }
}
@media screen and (max-width: 900px) {
  .mes__projets {
    display: flex;
    flex-direction: column !important;
    height: 100%;
    width: 90%;
  }

  #mes__projets__apercu1 {
    width: 90%;
  }

  #mes__projets__apercu2 {
    width: 90%;
  }

  #mes__projets__apercu3 {
    width: 90%;
  }

  #mes__projets__apercu4 {
    width: 90%;
  }

  .mes__competences__mot {
    width: 30%;
  }

  .mes_contacts__texte {
    width: 30%;
  }

  .brief {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
  }
  .brief__projets {
    align-items: flex-start;
    width: 35%;
    padding: 5px;
    align-items: center;
  }
  .brief__apropos {
    align-items: flex-start;
    width: 35%;
    padding: 5px;
    align-items: center;
  }

  .box {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .box__presentation {
    width: 100%;
    padding: 10px;
  }
}
@media screen and (max-width: 500px) {
  .mes_contacts__images {
    width: 90%;
  }

  .mes__competences__mot {
    width: 50%;
    margin-bottom: -10px;
  }
}

/*# sourceMappingURL=style.css.map */
