@mixin mediaqueries {

@media screen and (max-width: 700px) {


  .box {
    display: flex;
    flex-direction: column;
    padding: 10px;

    &--presentation {
      width: 100%;
      padding: 0px !important;
    }
  }
  .brief {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh !important;
    align-items: center !important;
  
    &__projets {
      width: 80% !important;
    }
    &__apropos {
      width: 80% !important;
    }
    .mes_contacts--texte {
      width: 40% !important;
    }
  }
}
    @media screen and (max-width: 450px) {
    .en-tete {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .logo {
      margin-left: 0% !important;
    }
    .box_logos {
      margin-top: 50px !important;
      display: flex;
      justify-content: space-evenly;
      width: 0%;
    }
    .mes_contacts__images_Twitch {
      display: none;
    }
  }
  



@media screen and (max-width: 1150px) {
    .mes__projets {
      width: 100%;
    }
      .box {
      width: 90% !important;
    }
  }
  @media screen and (max-width: 500px) {
    .mes__projets {
      display: flex;
      flex-direction: column !important;
      height: 100%;
      width: 90%;
    }  .mes__projets__apercu {
      width: 90%;
      &--site {
        height: 100%;
        width: 100%;
      }
    }
    .mes__projets__apercu {
      width: 90%;
      &--site{
        height: 100%;
        width: 100%;
      }
    }
    .mes__projets__apercu{
      width: 90%;
      &--site{
        height: 100%;
        width: 100%;
      }
    }
    .mes__projets__apercu {
      width: 90%;
      &--site{
        height: 100%;
        width: 100%;
      }
    }
    @media screen and (max-width: 900px) {

  
    .brief {
      display: flex;
      justify-content: space-evenly;
      
      width: 90%;
    
      &__projets {
        align-items: flex-start;
        width: 35%;
        padding: 5px;
        align-items: center;
        
      }
      &__apropos {
        align-items: flex-start;
        width: 35%;
        padding: 5px;
        align-items: center;
      }
    }

    .box {
      display: flex;
      flex-direction: column;
      padding: 10px;
      &--presentation {
        width: 100%;
        padding: 10px;
      }
    }

  }
  @media screen and (max-width: 500px) {
    .mes_contacts__images  {
      width: 90%;
    }
    .mes__competences--texte {
        width: 50%;
        margin-bottom: -10px;
      } 
  }
}

@media screen and (max-width: 605px) {
  .brief {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 35vh !important;

  
    &__projets {
      width: 65% !important;
   
    }
    &__apropos {
      width: 65% !important;
     
    }
  }
  .box {
    margin-bottom: 50px;
   
  }
  .mes_contacts--texte {
    width: 50% !important;
  }
  .light {
    display: none;
  }
}
}
@media screen and (max-height: 1100px) {
  .brief__apropos {
    height: 10vh !important;
    width: 40% !important;
  }
  .brief__projets {
    height: 10vh !important;
    width: 40% !important;
  }
}


@media screen and (max-width: 380px) {
  .mes_contacts__images:nth-child(5) {
    display: none;
  }

}

@media screen and (max-width: 280px) {
  .mes_contacts__images:nth-child(6){
    display: none;
  }

}


// @media (prefers-color-scheme: light) {
//   html {
//   filter: invert(100%);
//   }

//  }


