@mixin menu {
  .en-tete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 3px $couleur_secondaire;
    width: 100%;
  }

  .menu {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    font-size: 3vh;
    font-family: Varela;
    padding-top: 2vh;
    padding-bottom: 2vh;
    // border: solid 2px white;

    &--acceuil {
      border: solid 2px #252839;
      color: $couleur_primaire;
      text-decoration: none;
      &:hover {
        border-bottom: solid 2px $couleur_secondaire;
        color: $couleur_secondaire;
        transition: all 0.2s linear;
      }
    }
    &--projets {
      color: $couleur_primaire;
      text-decoration: none;
      border: solid 2px #252839;
      &:hover {
        border-bottom: solid 2px $couleur_secondaire;
        color: $couleur_secondaire;
        transition: all 0.2s linear;
      }
    }
    &--contacts {
      color: $couleur_primaire;
      text-decoration: none;
      border: solid 2px #252839;
      &:hover {
        border-bottom: solid 2px $couleur_secondaire;
        color: $couleur_secondaire;
        transition: all 0.2s linear;
      }
    }
  }

  .logo {
    color: $couleur_primaire;
    height: 8vh;
    font-size: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: Lato;
    margin-left: 50%;
    text-decoration: none;
  }
}

